@font-face {
  font-family: Inter-Regular;
  src: url("../font/Inter-Regular-slnt=0.ttf");
}

@font-face {
  font-family: Inter-Medium;
  src: url("../font/Inter-Medium-slnt=0.ttf");
}

:root {
  --dark-text: #28282a;
  --gray-text: #b8b9c8;
  --gray-border: #e8e9ec;
  --dark-blue-text: #181a46;
  --main-color: #0175d8;
  --light-blue-text: #3493e2;
  --light-blue: #cbeaff;
  --green-light: #68d665;
  --red-light: #ff805d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter-Regular;
  -webkit-appearance: none;
}

*:focus {
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

body {
  margin: 20px;
  background-color: #f8f9fe;
}

/* ScrollBard */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #262b2f;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(240, 240, 240);
}

/* Container */
#root {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  #root {
    width: 750px;
  }
}
@media (min-width: 992px) {
  #root {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  #root {
    width: 1170px;
  }
}

/* Header ###### Start ###### */
nav {
  display: flex;
  justify-content: space-between;
  position: relative;
}

nav .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-blue-text);
}

nav .logo img {
  width: 30px;
  margin-right: 10px;
}

nav ul {
  display: flex;
}

nav ul li a {
  padding: 10px;
  margin: 0 5px;
  display: block;
}

nav ul li:last-child a {
  padding-right: 0;
  margin-right: 0;
}

.current-page {
  color: #0175d8;
}

nav .dropdown-button,
nav .dropdown-menu {
  display: none;
}

nav .dropdown-button img {
  width: 20px;
}

.bc {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--dark-text);
  opacity: 0.5;
  display: none;
}

@media (max-width: 700px) {
  nav .dropdown-button {
    display: block;
  }

  nav ul {
    display: none;
  }

  /* nav .dropdown-menu {
    display: block;
    position: absolute;
    top: 40px;
    left: -20px;
    right: 0;
    width: 100vw;
    background-color: white;
  }

  nav .dropdown-menu li {
    padding: 10px;
  } */
}

/* Header ###### End ###### */

/* Search Form ###### Start ###### */
#search-form {
  width: 60vw;
  margin-left: auto;
}

#search-form form {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

#search-form form input {
  border: none;
  background-color: transparent;
}

#search-form form .form-input {
  border: 2px solid var(--gray-border);
  border-radius: 10px;
  padding: 10px;
  color: #85858f;
  width: 100%;
  margin: 0 10px;
  transition: border-radius 0.4s;
}

.form-input:focus {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

#search-form form .query {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

#search-form form .query img {
  margin-right: 5px;
  width: 15px;
}

#search-form form button {
  background-color: var(--light-blue-text);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
}

/* Search Form ###### End ###### */

/* Search Results ###### Start ###### */
#search-results {
  margin-top: 20px;
}

#search-results img {
  width: 15px;
}

.results-more {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 10px 0;
  font-size: 0.9em;
}

.results-more p {
  color: var(--gray-text);
}

.results-more ul {
  display: flex;
}

.results-more ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  color: var(--dark-blue-text);
}

.results-more ul li:last-child {
  margin-right: 20px !important;
}

.results-more ul li img {
  margin-left: 5px;
}

#search-results .row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}

@media (max-width: 700px) {
  .results-more {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1200px) {
  #search-results .row {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 992px) {
  #search-results .row {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  #search-results .row {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Search Results ###### End ###### */

/* Card ###### Start ###### */
.card {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 12px #00000021;
  padding: 15px;
}

.card-poster {
  width: 100%;
  height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.card-poster img {
  object-fit: cover;
  width: 100% !important;
  height: 100%;
}

.card-info {
  margin: 20px;
}

.card-price {
  font-size: 1.2em;
  margin: 20px 0 10px 0;
  font-family: Inter-Medium;
  color: var(--light-blue-text);
}

.card-desc {
  font-weight: 900;
}

.card-location {
  color: var(--gray-text);
  font-weight: 100;
  margin: 5px 0;
  font-size: 0.9em;
}

.card-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.card-detail li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7em;
  font-weight: 800;
}

.card-detail li img {
  margin-right: 5px;
}

@media (max-width: 990px) {
  #search-results {
    display: flex;
  }

  #search-form {
    width: 100%;
  }

  .card-detail {
    font-size: 1em;
  }
}

@media (max-width: 700px) {
  #search-form form {
    flex-direction: column;
  }

  #search-form form .form-input {
    margin: 5px 0;
  }

  #search-form form .query {
    justify-content: space-between;
  }

  #search-form form .query input {
    width: 100%;
  }
  #search-results .row {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}

/* Card ###### End ###### */

/* Apartment Page ###### Start ###### */
.apartment-content {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 45% 55%;
  grid-gap: 20px;
}

.apartment-poster {
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.apartment-poster img {
  object-fit: cover;
}

.apartment-info {
  margin: 0 20px;
}

.apartment-price {
  font-size: 1.2em;
  margin: 20px 0 10px 0;
  font-family: Inter-Medium;
  color: var(--light-blue-text);
}

.apartment-desc {
  font-weight: 900;
}

.apartment-location {
  color: var(--gray-text);
  font-weight: 100;
  font-size: 0.9em;
}

.apartment-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.apartment-detail li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7em;
  font-weight: 800;
}

.apartment-detail li img {
  width: 20px;
}

.map {
  height: 70vh;
  border-radius: 20px;
  overflow: hidden;
}

.marker {
  width: 20px;
  height: 20px;
  background-color: #fc8946;
  box-shadow: 0 0 0 3px #eee;
  border-radius: 50%;
}

.mapboxgl-control-container {
  display: none;
}

@media (max-width: 700px) {
  .apartment-content {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  }

  .apartment-location {
    display: none;
  }
}

/* Apartment Page ###### End ###### */
